/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 28px;
    background: #f18d9e;
    border: 0;
    padding-left: 18px;
    padding-right: 18px;
    color: #ffffff;
    font: 16px/1.5 Bodoni MT;
}

.button_1:hover{
    font: bold 16px/1.5 Bodoni MT;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.dark{
    padding: 15px;
    background: #5d535e;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.white{
    padding: 15px;
    background: #f9f9f9;
    color: #5d535e;
    margin-top: 10px;
    margin-bottom: 10px;
}

@font-face{
    font-family: Bodoni MT;
    src: url(../font/Bodoni_MT);
}   
    
/*Header*/
header{
    background: #f18d9e;
    color: #ffffff;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 10px;
    min-height: 70px;
    border-bottom: #dfe166 4px solid;
    width: 100%;
    float: none;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

header li{
    text-align: center;
    display: inline;
    padding: 0 30px 0 30px;
}

header #branding{
    float: none;
}

header #branding h1{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

header #navbar{
    text-align: center;
    background-color: #f18d9e;
}


header .highlight, header .current a{
    color: #5d535e;
    font-weight: bold;
}

header a:hover{
    color: #5d535e;
    font-weight: bold;
}

/*Sticky nav bar*/
.sticky {
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  width: 100%;
  padding: 10px;
}

.sticky .dropdown{
    margin-top: 4px;
}

.sticky + #showcase + #maincol{
  margin-top: 50px;
}


/*Dropdown*/
.dropbtn{
    font: 35px Times New Roman;
    font-weight: 900;
    background-color: #f18d9e;
    color: #ffffff;
    padding: 0 15px 0 15px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: absolute; 
    top: 0%;
    left: 2%;
    display: inline-block;
    padding: 0px;
    margin-top: 80.5px;
    margin-bottom: 0px;
}

.dropdown-content{
    display: none;
    position: absolute;
    text-align: left;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: #5d535e;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    left: 0px;
}

.dropdown-content a:hover{
    background-color: #5d535e;
    color: #ffffff;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn:hover{
    background-color: #f18d9e;
    color: #5d535e;
}


/*Showcase*/
#showcase{
    min-height: 400px;
    background-color: #e6e5e7;
    background: url("../img/showcase.jpg") 0px -170px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    float: none;
}

#showcase h1{
    margin-top: 60px;
    font-size:52px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #888888;
}

#showcase p{
    font-size: 21px;
    text-shadow: 1px 1px 1px #888888;
}


/*Newsletter*/
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #5d535e;
}

#newsletter h1{
    float: left;
    margin-left: 0px;
}

#newsletter form{
    float: right;
    margin-top: 18px;
}

#newsletter input[type="search"]{
    padding: 4px;
    height: 28px;
    width: 250px;
    font: normal 15px/1.5 Bodoni MT;
    color: #5d535e;
}

#newsletter ::placeholder{
    font: 15px/1 Bodoni MT;
    font-weight: 100;
    color: #bbbbbb;
}

#newsletter :-ms-input-placeholder{
    font: 15px/1 Bodoni MT;
    font-weight: 100;
    color: #bbbbbb;
}


/*Body*/
body{
    font: 15px/1.5 Bodoni MT;
    padding: 0;
    margin: 0;
    background-image: url("../img/background.jpg");
}

body #boxes h3{
    margin-top: -5px;
}

body #boxes a{
    color: #5d535e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

body #boxes a:hover{
    color: #f18d9e;
    font-weight: bold;
}

body #boxes p{
    font-size: 16px;
}


/*Boxes*/
#boxes{
    margin-top: 100px;
    margin-bottom: 50px;
}

#boxes .box{
    float: left; 
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 200px;
}

#boxes p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#boxes .white{
    float: left; 
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 2px #5d535e; 
}

#boxes .white #iframe{
    margin-bottom: 2px;
}

#boxes .white h1{
    font-variant: small-caps;
    font-size: 28px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#boxes .white a{
    color: #ffffff;
    text-transform: none;
    font-size: 18px;
    font-weight: normal;
    margin-top: 5px;
}

#boxes .white a:hover{
    color: #5d535e;
    font-weight: normal;
}

#boxes .box img:hover{
    opacity: 0.6;
    filter: alpha(opacity=60);
}


/*Sidebar*/
#sidebar{
    float: right;
    width: 35%;
    margin-top:10px;
}

#sidebar .quote input, #sidebar .quote textarea{
    width: 93%;
    padding: 5px;
}


/*Main-col*/
#main-col{
    float: left;
    width: 65%;
    padding: 0;
    margin-bottom: 10px;
}

#main-col .page-title{
    color: #5d535e;
    font-size: 35px;
    font-variant: small-caps;
}

#main-col a{
    color: #5d535e;
    font-size: 20px;
    text-decoration: none;
}

#main-col a:hover{
    color: #f18d9e;
    font-weight: bold;
}

#main-col li{
    color: #5d535e;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    padding: 0 20px 0 10px;
 }
 
#main-col nav{
    float: left;
    width: 100%;
    margin-left: 50px;
    margin-bottom: 0px;
}

/*Share Ideas Form*/
#main .quote{
    margin-top: -10px;
    margin-left: 40px;
    margin-right: 0px;
}
#main .quote label{
    font-size: 18px;
    color: #5d535e;
}

#main .quote ::placeholder{
    font: 15px/1 Bodoni MT;
    font-weight: 100;
    color: #bbbbbb;
}

#main .quote :-ms-input-placeholder{
    font: 15px/1 Bodoni MT;
    font-weight: 100;
    color: #bbbbbb;
}

#main .quote input[type="text"]{
    font: normal 15px/1.5 Bodoni MT;
    color: #5d535e;
    width: 60%;
}

#main .quote textarea{
    font: normal 15px/1.5 Bodoni MT;
    color: #5d535e;
    width: 59.6%;
}

#main .quote div{
    float: none;
    padding: 0 5px 0 0px;
    margin-top: 5px;
    margin-left: 0px;
}

#main .quote button{
    margin-top: 2px;
    margin-left: 0px;
}

#main .dark{
    margin-top: 100px;
}


/*Listed assignment*/
#assignment li{
    font-size: 18px;
    padding: 0 20px 0 0px;
    margin-left: 24px;
 }
 
#assignment a{
    font-size: 18px;
    padding: 0 20px 0 10px;
 }



/*Services*/
#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
    color: #5d535e;
}


/*Footer*/
footer{
    padding: 15px;
    margin-top: 120px;
    color: #ffffff;
    background-color: #9bd8d2;
    text-align: center;
    bottom: 0px;
    width: 100%;
}


/*Media Queries*/
@media(max-width: 770px){
    header,
    #showcase,
    #newsletter,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    #boxes .white,
    #main-col,
    #sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    
    header li{
        padding: 0 20px 0 20px;
    }
    
    #showcase h1{
        margin-top: 40px;
    }
    
    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }
    
    #newsletter input[type="search"], .quote input, .quote textarea{
        width:100%;
        margin-bottom: 5px;
    }
    
    #boxes{
        margin-top: 10px;
    }
    
    #boxes .white{
        width: 90%;
    }
    
    #main .dark{
    margin-top: 50px;
    }
    
    #main .container{
        width: 80%;
        padding: 20px;
    }
    
    #main .quote{
        margin-left: 0px;
    }
    
    #main .quote div{
        padding: 0 5px 0 0px;
        margin-left: 0;
    }
    
    #main .quote button{
        margin-left: 0;
    }
    
    #main .quote input[type="text"]{
        width: 100%;
    }
    
    #main .quote textarea{
        margin-left: 0;
        width: 100%;
    }
}

@media(max-width: 426px){
    .dropdown{top: 5%;}
}

@media(max-width: 295px){
    .dropdown{top: 15%;}
}

@media(max-width: 263px){
    .dropdown{top: 20%;}
}